span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}
* {
  user-select: none;
}
span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(12) {
  animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.heading {
  color: transparent;
  /* background: linear-gradient(to right, #ff499e, #d264b6, #a480cf, #779be7); */
  background: linear-gradient(to right, #e6c229, #f17105, #d11149, #0112ff);
  -webkit-background-clip: text;
}

@keyframes fade-in {
  100% {
    opacity: 1;

    filter: blur(0);
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.accordion {
  width: 100%;
  max-width: 800vw;
  margin: 0 auto;
}
.accordion .contentbox {
  position: relative;
  margin: 10px 20px;
}
.accordion .contentbox .label {
  position: relative;
  padding: 18px;
  padding-right: 40px;
  background: linear-gradient(to right, #0076ff, #f17105, #0743ff);
  color: #000000;
  cursor: pointer;
  box-shadow: inset 0px -1px 6px 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-radius 0.3s ease;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.accordion .contentbox .label::before {
  content: "⮟";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentbox.active .label::before {
  content: "⮝";
}

.accordion .contentbox .Content {
  position: relative;
  background: linear-gradient(to right, #0076ff, #f17105, #0743ff);
  height: 0;
  box-shadow: inset 0px -1px 6px 5px;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.5s;
  color: #000000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
  font-family: Georgia, "Times New Roman", Times, serif; /* eliminates gap between label and content */
}

.accordion .contentbox.active .Content {
  max-height: 500px;
  padding: 25px;
  height: auto;
}

.accordion .Content {
  scroll-margin-top: 0px; /* Prevents scroll jump */
}
.accordion {
  display: flex;
  flex-direction: column;
}

.Fq {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #e36e14;
}

@media (max-width: 500px) {
  .accordion .contentbox .label::before {
    content: "^";
    transform: translateY(-60%) rotate(180deg);
    transform-origin: center;
    transition: 0.5s;
    font-weight: 900;
  }
  .accordion .contentbox.active .label::before {
    content: "^";
    transform: translateY(-40%);
    /* transform-origin: center; */
    transition: 0.5s;
    font-weight: 900;
  }
}
